table.resultList {
    width: 100%;
}

table.resultList a {
    text-decoration: underline;
}

table.resultList a:hover {
    color: var(--primary-darker);
}

table.resultList thead tr {
    height: 30px;
    background-color: var(--primary-lighter);
}

table.resultList tbody tr {
    height: 30px;
    text-align: center;
}

table.resultList tbody tr:nth-of-type(2n) {
    background-color: var(--light-gray);
}

table.resultList td:nth-of-type(1) {
    width: 15%;
}

table.resultList th:nth-of-type(2),
table.resultList td:nth-of-type(2) {
    text-align: left;
    padding-left: 15px;
}

.pagination {
    margin: 15px 0;
}

.keyword,
.count {
    margin: 0 5px;
    font-weight: 500;
    color: var(--red);
}

.card p {
    margin: 8px 0;
}