.container {
  flex-direction: column;
}

.container.bannerArea {
  padding: 0;
}

.carousel {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #ededed;
}

.carousel.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

a.carousel__link:focus-within {
  outline: none !important;
}

a.carousel__link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-dots {
  bottom: 0;
}

.slick-dots li.slick-active button:before {
  color: var(--primary);
}

.carousel2 {
  border: 1px solid #ededed;
  border-top: none;
  border-bottom: none;
  width: 90%;
  margin: 0 auto;
}

.carousel2 .item {
  border-right: 1px solid #ededed;
  border: 1px solid #fff;
  margin: 0.5px;
}

.carousel2 .item:hover {
  border: 1px solid #73dcfc;
  background-color: #f2f2f2;
}

.carousel2 .slick-next:before,
.carousel2 .slick-prev:before {
  font-family: slick;
  font-size: 30px;
  line-height: 1;
  opacity: 1;
  color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel2 .slick-next,
.carousel2 .slick-prev {
  width: 40px;
  height: 40px;
}

.carousel2 .slick-prev {
  left: -37px;
}

.carousel2 .slick-next {
  right: -37px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.carousel3 {
  background-color: var(--primary);
  padding: 20px 50px;
  margin-top: 20px;
}

.carousel3 .slick-slide img {
  height: 60px;
  margin-right: 20px;
}

.carousel3 .slick-next:before {
  content: "";
  background-image: url(../image/right-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
}

.carousel3 .slick-prev:before {
  content: "";
  background-image: url(../image/left-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
}

.carousel3 .slick-prev,
.carousel3 .slick-next {
  width: 30px;
  height: 50%;
}

.carousel3 .slick-prev {
  left: 5px;
}

.carousel3 .slick-next {
  right: 5px;
}

button.slick-next:hover,
button.slick-prev:hover {
  transform: translate(0, -50%) scale(1);
}

button.slick-next.slick-arrow:focus,
button.slick-prev.slick-arrow:focus {
  outline: 2px solid var(--dark) !important;
  border-radius: 2px;
}

.slick-dots button:focus {
  outline: 2px solid var(--dark) !important;
  border-radius: 2px;
}

.carousel3 .slick-slide a {
  display: block;
  width: calc(100% - 20px);
}

.carousel2 .item img {
  width: 80px;
}

@media (max-width: 768.98px) {
  .container.bannerArea {
    padding: 58px 0 0;
  }

  .carousel2 {
    width: 75%;
  }
}

@media (max-width: 576.98px) {
  .container.mainArea {
    padding-top: 10px;
  }

  .carousel2 .item img {
    width: 60px;
  }

  .carousel3 {
    padding: 15px 35px;
  }

  .carousel3 .slick-slide img {
    height: 45px;
    margin-right: 12px;
  }

  .slick-next:before,
  .slick-prev:before {
    font-size: 20px;
  }
}

/* Tab */

.lastestNewWrap {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.lastestNewWrap .lists {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.lists a {
  width: 220px;
  transition: 0.5s;
  text-align: center;
}

.lastestNewWrap .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.3s all;
  border-bottom: 2px solid #fff;
  padding: 20px 0 10px;
  margin: 0 auto;
  height: 70px;
}

.lastestNewWrap .title img {
  width: 40px;
  height: 40px;
}

.lists a.active .title,
.lists a:hover .title {
  border-bottom: 2px solid var(--secondary);
}

.tabContent {
  display: none;
}

.tabContent.active {
  display: block;
}

.lastestNewWrap .body .news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding: 10px;
  transition: 0.3s all;
}

.lastestNewWrap .body .news:hover {
  background-color: #eee;
  color: #e5204e;
}

.lastestNewWrap .body .news i {
  color: var(--secondary);
}

.lastestNewWrap .body .news .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}

.lastestNewWrap .body .news .left div {
  font-size: 1rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lastestNewWrap .body .news .date {
  color: #e5204e;
}

.lastestNewWrap .more {
  background: var(--secondary);
  padding: 12px;
  font-size: 1.1rem;
  text-align: center;
  transition: 0.2s all;
  display: block;
}

.lastestNewWrap .more:hover {
  background: #e5204e;
}

@media (max-width: 768px) {
  .lastestNewWrap .title img {
    width: 25px;
    height: 25px;
  }

  .lastestNewWrap .title {
    gap: 0px;
    padding: 15px 0;
    height: 50px;
  }

  .lastestNewWrap .title h2 {
    font-size: 0.9rem;
  }
}

.group {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.group .block {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
}

.group .block .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-weight: 500;
  font-size: 1.5rem;
  gap: 5px;
  margin-top: 15px;
}

.group .block .title img {
  width: 50px;
  height: 50px;
}

.group .block .expert a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  padding: 5px 0;
  margin: 10px;
}

.group .block .expert a:not(:last-of-type) {
  border-bottom: 1px solid #dedede;
}

.group .block .expert a:hover {
  color: #e5204e;
}

@media (max-width: 768px) {
  .group {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.expert + .more {
  background: #c24c8d;
  padding: 10px;
  font-size: 1.1rem;
  text-align: center;
  transition: 0.2s all;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
}

.expert + .more:hover {
  background: #b13c8d;
}

.carousel4 {
  padding: 0 5px;
}

.carousel4 img {
  width: 100%;
  margin: 15px 0 25px;
}

.member {
  padding: 0 10px;
  margin-top: 10px;
}

.inputWrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.inputWrap div {
  width: fit-content;
  flex: none;
  color: var(--primary);
  font-size: 1.2rem;
}

.inputWrap input {
  width: 100%;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.1rem;
  padding: 0 10px;
}

.member .link {
  text-align: right;
  margin-bottom: 10px;
}

.member .link a {
  font-size: 0.9rem;
  margin-left: 5px;
  color: #00bbff;
  font-weight: 600;
}

.buttonWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.buttonWrap button {
  font-family: inherit;
  font-size: 1.1rem;
  background-color: #c24c8d;
  border: 0;
  border-radius: 0;
  padding: 6px 20px;
  color: #fff;
  cursor: pointer;
  transition: 300ms;
}
