table {
    width: 100%;
    border-collapse: separate;
}

td {
    padding: 10px;
}

td:first-child {
    background: var(--primary-lighter);
    width: 20%;
    padding: 5px 10px;
    text-align: center;
}

td:nth-child(2) {
    background: var(--light-gray);
    padding-left: 10px;
}

.icon a {
    margin-right: 5px;
    font-size: 1.5em;
}

@media (max-width: 991px) {
    td:first-child {
        width: 30%;
    }
}

@media (max-width: 576px) {
    td:first-child {
        width: 35%;
    }
}