.card.result p {
    margin: 5px 0;
}

table.resultList {
    width: 100%;
}

table.resultList thead tr {
    height: 45px;
    background-color: var(--primary-lighter);
}

table.resultList tbody tr {
    height: 50px;
    text-align: center;
}

table.resultList tbody tr:nth-of-type(2n) {
    background-color: var(--light-gray);
}

.fa-file-download {
    font-size: 1.2em;
    color: var(--primary-darker);
}

@media (max-width: 768px) {
    table.resultList thead {
        display: none;
    }
    table.resultList tbody tr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        line-height: 30px;
        position: relative;
        padding: 10px;
    }
    table.resultList td::before {
        margin-right: 10px;
        color: var(--darker);
        font-weight: 600;
    }
    table.resultList td:nth-of-type(1):before {
        content: "類型";
    }
    table.resultList td:nth-of-type(2):before {
        content: "代碼";
    }
    table.resultList td:nth-of-type(3):before {
        content: "名稱";
    }
    table.resultList td:nth-of-type(4):before {
        content: "發展單位";
    }
    table.resultList td:nth-of-type(5):before {
        content: "有效期限";
    }
    table.resultList td:nth-of-type(6):before {
        content: "檔案下載";
    }
}

.back {
    margin: 5px auto 0;
    border-bottom: 1px solid;
    width: fit-content;
    font-size: 0.8em;
}

.back a i {
    margin-left: 5px;
}

a.btn:hover {
    transform: scale(1.3);
}