.mainContent {
  background-color: #eff3fb;
}

table.searchTable {
  border-collapse: collapse;
}

table.searchTable tr {
  height: 45px;
}

table.searchTable tr td:first-child {
  background-color: #c6d8ec;
  min-width: 180px;
  text-align: center;
  border-bottom: 1px solid #c6d8ec;
}

table.searchTable tr td:last-child {
  padding: 15px;
  border: 1px solid #c6d8ec;
  width: 100%;
}

table.searchTable tr:not(:last-child) td:first-child {
  border-bottom: 1px solid #fff;
}

select {
  font-family: Verdana, 新細明體 !important;
  font-size: 0.875em !important;
  padding: 5px 10px !important;
  margin-right: 5px !important;
  background-color: #ffffff !important;
  border-color: #cccccc !important;
  border-width: 1px !important;
  border-style: Solid !important;
  height: 32px !important;
}

table.searchTable select.normalSelect {
  width: 45%;
}

.remind {
  color: red;
}

.searchBtn {
  margin-top: 20px;
  text-align: center;
}

.normalButton {
  display: inline-block;
  padding: 8px;
  min-width: 50px;
  border: 0;
  line-height: 1;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  background-color: #c24c8d;
  transition: 300ms;
  border-radius: 0px;
}

.pageWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.pagination {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  padding: 0 30px;
}

table.resultList {
  width: 100%;
}

table.resultList thead tr {
  height: 40px;
  background-color: #c6d8ec;
  font-weight: normal;
}

table.resultList tr th,
table.resultList tr td {
  max-width: 150px;
  padding: 10px;
}

table.resultList tr td {
  border-bottom: 1px #cccccc dashed;
}

table.resultList tbody tr {
  height: 50px;
  text-align: center;
  border-bottom: 1px #cccccc dashed;
}

.fa-file-download {
  font-size: 1.2em;
  color: var(--primary-darker);
}

@media (max-width: 768px) {
  .card {
    padding: 0;
  }
  table.searchTable tr:not(:last-child) td:first-child {
    font-size: 0.9rem;
  }
  table.searchTable tr td:first-child {
    min-width: 95px;
  }
  table.searchTable tr td:last-child {
    padding: 10px;
  }
  select {
    padding: 5px !important;
    height: 30px !important;
  }
  table.searchTable select.normalSelect {
    width: 100%;
  }
  table.resultList tr th,
  table.resultList tr td {
    max-width: 100%;
    width: 100%;
    padding: 5px;
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 130px;
  }

  table.resultList tr td:first-child {
    border-top: 1px solid #ccc;
  }

  table.resultList tr td a {
    text-align: left;
  }
  table.resultList thead {
    display: none;
  }
  table.resultList tbody tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-bottom: 40px;
  }
  table.resultList td::before {
    color: var(--darker);
    float: left;
    width: 115px;
    background-color: #c6d8ec;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  table.resultList td:nth-of-type(1):before {
    content: "區別";
  }
  table.resultList td:nth-of-type(2):before {
    content: "課程類別";
  }
  table.resultList td:nth-of-type(3):before {
    content: "課程名稱";
  }
  table.resultList td:nth-of-type(4):before {
    content: "課程日期";
  }
  table.resultList td:nth-of-type(5):before {
    content: "課程時間";
  }
  table.resultList td:nth-of-type(6):before {
    content: "課程人數上限";
  }
  table.resultList td:nth-of-type(7):before {
    content: "截止日期";
  }
  table.resultList td:nth-of-type(8):before {
    content: "報名";
  }
  table.resultList td:nth-of-type(9):before {
    content: "備註";
  }
  .pageWrap {
    flex-direction: column;
  }

  .pagination {
    flex-direction: column;
    margin-top: 10px;
  }
}

a.btn:hover {
  transform: scale(1.3);
}
