body {
  background-color: #e5fff6;
}

.mainContent {
  background-color: #eff3fb;
}

table.searchTable,
table.resultList {
  border-collapse: collapse;
}

table.searchTable tr {
  height: 45px;
}

table.searchTable tr td:first-child,
table.searchTable tr td.head {
  background-color: #c6d8ec;
  min-width: 180px;
  text-align: center;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
}

table.searchTable tr td:last-child {
  padding: 15px;
  width: 100%;
}

table.resultList tr th,
table.resultList tr td {
  font-weight: normal;
  font-size: 0.938rem;
}

table.resultList tr th {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
}

table.resultList tr td {
  transition: 0.2s all;
}

table.resultList tr:hover td {
  background-color: #ffffcc;
}

select {
  font-family: Verdana, 新細明體 !important;
  font-size: 0.875em !important;
  padding: 5px 10px !important;
  margin-right: 5px !important;
  background-color: #ffffff !important;
  border-color: #cccccc !important;
  border-width: 1px !important;
  border-style: Solid !important;
  height: 32px !important;
}

table.searchTable select.normalSelect {
  width: 45%;
}

.remind {
  color: red;
}

.card.search {
  position: relative;
  margin: 0;
}

.searchBtn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-align: center;
}

.searchBtn button {
  min-height: 35px;
}

.normalButton {
  display: inline-block;
  padding: 6px 20px;
  border: 0;
  line-height: 1;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  background-color: #c24c8d;
  transition: 300ms;
  border-radius: 0px;
}

@media (max-width: 768px) {
  .searchBtn {
    position: relative;
    inset: 0;
    margin: 20px 20px -10px;
    text-align: right;
  }

  .searchBtn button {
    min-height: 0;
  }
}

.normalButton:disabled,
.normalButton[disabled] {
  background-color: #999999;
  color: #ffffff;
  cursor: not-allowed;
}

.pageWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.pagination {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  padding: 0 30px;
}

table.resultList {
  width: 100%;
}

table.resultList thead tr {
  height: 40px;
  background-color: #c6d8ec;
  font-weight: normal;
}

table.resultList tr th {
  padding: 5px;
  height: 40px;
}

table.resultList tr th,
table.resultList tr td {
  max-width: 150px;
}
table.resultList tbody tr {
  height: 50px;
  text-align: center;
  border-bottom: 1px dashed #999999;
}

.fa-file-download {
  font-size: 1.2em;
  color: var(--primary-darker);
}

@media (max-width: 768px) {
  .container {
    padding: 57px 0 0;
  }

  .topContent {
    padding: 0;
    margin-bottom: 20px;
  }
  .card {
    padding: 20px 0 30px;
  }
  table.searchTable tr:not(:last-child) td:first-child,
  table.searchTable tr:not(:last-child) td.head {
    font-size: 0.9rem;
  }
  table.searchTable tr td:first-child,
  table.searchTable tr td.head {
    min-width: 95px;
  }
  table.searchTable tr td:last-child {
    padding: 10px;
  }
  select {
    padding: 5px !important;
    height: 30px !important;
  }
  table.searchTable select.normalSelect {
    width: 100%;
  }
  table.resultList tr th,
  table.resultList tr td {
    max-width: 100%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: 115px;
  }

  table.resultList tr td:first-child,
  table.resultList tr td.head {
    border-top: 1px solid #ccc;
  }

  table.resultList tr td a {
    text-align: left;
  }
  table.resultList thead {
    display: none;
  }
  table.resultList tbody tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-bottom: 40px;
    border-bottom: 0;
  }
  table.resultList td::before {
    color: var(--darker);
    float: left;
    width: 115px;
    background-color: #c6d8ec;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  table.resultList td:nth-of-type(1):before {
    content: "區別";
  }
  table.resultList td:nth-of-type(2):before {
    content: "課程類別";
  }
  table.resultList td:nth-of-type(3):before {
    content: "課程名稱";
  }
  table.resultList td:nth-of-type(4):before {
    content: "課程日期";
  }
  table.resultList td:nth-of-type(5):before {
    content: "課程時間";
  }
  table.resultList td:nth-of-type(6):before {
    content: "課程人數上限";
  }
  table.resultList td:nth-of-type(7):before {
    content: "截止日期";
  }
  table.resultList td:nth-of-type(8):before {
    content: "報名";
  }
  table.resultList td:nth-of-type(9):before {
    content: "備註";
  }

  table.resultList tr td > div {
    border-bottom: 1px dashed #ccc;
    width: 100%;
    padding: 1em;
  }
  .pageWrap {
    flex-direction: column;
  }

  .pagination {
    flex-direction: column;
    margin-top: 10px;
  }
}

a.btn:hover {
  transform: scale(1.3);
}
