.intro {
    margin-bottom: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    background-color: #FAF5E4;
    overflow: hidden;
    flex: 30%;
    border: 4px solid var(--primary-darker);
    border-radius: 20px;
    margin: 5px;
    box-shadow: 1px 2px 3px #0002;
}

.item .role {
    background-color: var(--primary-darker);
    color: #FFF;
    font-size: 1.3em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 45px;
}

.item .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.item .list a {
    background-color: #F8B400;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: 1px 2px 3px #0002;
    cursor: pointer;
    margin-bottom: 5px;
    transform: scale(0.9);
    transition: .3s ease-in-out;
}

.item .list a:not(.unabled):hover,
.item .list a:not(.unabled):focus {
    transform: scale(1);
}

.item .list a.show {
    background-color: #125b50;
    color: #faf5e4;
}

.item .list div.disabled {
    background-color: var(--gray);
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: 1px 2px 3px #0002;
}

@media (max-width: 991px) {
    .item {
        flex: 45%;
    }
}

.stepCard {
    background: #125b50;
    color: #faf5e4;
    border-radius: 20px;
    width: 98%;
    margin: 0 auto;
    position: relative;
    opacity: 0;
    clear: both;
    height: 0;
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stepCard.show {
    height: 250px;
    opacity: 1;
    margin: 20px auto;
    padding: 20px;
}

.stepCard#personalTest.show {
    height: 400px;
}

.stepCard .title {
    font-size: 1.2em;
    border-bottom: 3px solid #faf5e4;
    padding-bottom: 8px;
    margin-bottom: 8px;
    color: #faf5e4;
}

.steps {
    display: flex;
    justify-content: space-between;
}

.step {
    position: relative;
    width: 30%;
    background: #167f70;
    color: #faf5e4;
    border-radius: 8px;
    margin: 20px 0;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 45px;
}

.step::before {
    content: attr(data-no);
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f8b400;
    box-shadow: 1px 2px 3px #0003;
    top: -10px;
    left: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
    color: #125b50;
}

.arrowBack {
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent #125b50 transparent;
    position: absolute;
    top: -34px;
    left: 187px;
}

.stepCard#personalTest .arrowBack,
.stepCard#personalDev .arrowBack {
    left: 408px;
}

.stepCard#personalTest p {
    margin-bottom: 5px;
}

.btnWrap {
    text-align: right;
}

.stepCardBtn {
    background-color: #f8b400;
    color: #125b50;
    border: none;
    padding: 4px 14px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 3px 4px 5px rgb(0 0 0 / 23%);
}

.stepCardBtn:first-child {
    margin-right: 8px;
}

.stepCardBtn:hover {
    transform: scale(1.1);
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .stepCard.show {
        height: 280px;
    }
    .arrowBack {
        left: 143px;
    }
    .stepCard#personalTest .arrowBack,
    .stepCard#personalDev .arrowBack {
        left: 318px;
    }
}

@media (max-width: 991px) {
    .item.agency {
        order: 7;
    }
    .arrowBack {
        left: 143px;
    }
    .step {
        padding: 8px 15px;
    }
    .stepCard.show {
        height: 315px;
    }
    .stepCard#personalTest.show {
        height: 437px;
    }
    .stepCard#personalTest .arrowBack,
    .stepCard#personalDev .arrowBack {
        left: 318px;
    }
}

@media (max-width: 576px) {
    .item .role {
        font-size: 1.1em;
        height: 40px;
    }
    .item {
        margin: 3px;
        flex: 100%;
    }
    .item.training {
        order: 8;
    }
    .steps {
        flex-direction: column;
    }
    .step {
        width: 100%;
        margin: 10px 0;
    }
    .stepCard.show {
        height: 370px;
        margin: 15px auto;
        padding: 14px;
    }
    .stepCard#personalTest.show {
        height: 650px;
    }
    .arrowBack {
        left: 170px;
    }
    .stepCard#personalTest .arrowBack,
    .stepCard#personalDev .arrowBack {
        left: 170px;
    }
    .stepCard#personalTest p {
        margin-bottom: 2px;
    }
}